.modal-background{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
    background-color: black;
}
.modal-edit-container{
    display: block;
    position: fixed;
    width: 30%;
    height: 20%;
    top: 40%;
    left: 35%;
    opacity: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}
.modal-edit-container .modal-close-btn{
    text-align: right;
}
.modal-edit-container .modal-close-btn span{
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: red;
}

.modal-edit-content div{
    display: flex;
    flex-direction: row;
}
.modal-edit-content label{
    font-size: 16px;
    font-family: Verdana;
    width: 80px;
    padding-left: 10px;
}
.modal-edit-content input{
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.modal-edit-content div button{
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    color: white;
    background-color: darkgreen;
    text-align: center;
    margin: auto;
}