.tree{

}

.tree ul li div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
}

.tree ul{
    display: block;
    list-style-type: none;
}

.tree .title{
    border: 0px solid #ddd;
    background-color: #f9ecec;
    margin: auto;
}

.tree .switch-with-children-closed{
    display: inline-block;
    border: 0px solid #ddd;
    height: 1em;
    width: 1em;
    font-size: 16px;
    background-color: #ffffff;
    margin: auto;
}
.tree .switch-with-children-open{
    display: inline-block;
    border: 0px solid #ddd;
    height: 1em;
    width: 1em;
    font-size: 16px;
    background-color: #ffffff;
    margin: auto;
}
.tree .switch-no-children{
    display: inline-block;
    border: 0px solid #ddd;
    height: 1em;
    width: 1em;
    font-size: 16px;
    background-color: #ffffff;
    margin: auto;
}