.tree{
    margin-top: 10px;
}

.tree ul li div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
}

.tree ul{
    display: block;
    list-style-type: none;
}

.tree .title{
    border: 0px solid #ddd;
    background-color: inherit;
    margin: auto;
    font-family: Arial;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-top: 2px;
    text-decoration: none;
    color: black;
}
.tree .title:hover{
    color: darkgreen;
}

.tree .switch-with-children-closed,
.tree .switch-with-children-open,
.tree .switch-no-children{
    display: inline-block;
    border: 0px solid #ddd;
    height: 1em;
    width: 1em;
    font-size: 16px;
    background-color: #ffffff;
    margin: auto;
}

.context-menu-container{
    display: none;
    position: fixed;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
}

.context-menu-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.context-menu-container li{
    border-bottom: 1px solid #ddd;
    margin-top: 12px;
    cursor: pointer;
}
.context-menu-container li:first-of-type{
    margin-top: 0px;
}