<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JS Tree Editable</title>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
            <link href="/css/tree.css" rel="stylesheet" />
            <link href="/css/modal-edit.css" rel="stylesheet" />
            </head>
    <body>

        <button onclick="javascript: testAPI();">Test</button>

        <h1>Tree from xml</h1>
        <div id="tree"></div>
        <h1>Tree from json</h1>
        <div id="tree-from-json"></div>
        <h1>TreeEditable from json</h1>
        <div id="tree-editable-from-json"></div>

        <script type="text/javascript" src="/js/tree.js"></script>
        <script type="text/javascript" src="/js/tree-conf.js"></script>
        <script type="text/javascript" src="/js/tree-editable.js"></script>
        <script type="text/javascript" src="/js/tree-editable-conf.js"></script>
        <script type="text/javascript" src="/js/test-api.js"></script>
    </body>
</html>